body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  border: solid
}

div{
  width: 50%;
}

#tim {
  float: left;
  position: relative;
  margin: 0;
}

#mark {
  float: right;
  position: relative;
  margin: 0;
}

.image {
  display: block;
  text-align: center;
  width: 50%;
  margin: 0;
  border: 1px solid #d3d3d3
}

.raised {
  display: inline-block;
  text-align: center;
  width: 25%;*/
  margin: 0;
  border: 1px solid #d3d3d3
}

.donors {
  display: inline-block;
  text-align: center;
  width: 25%;*/
  margin: 0;
  border: 1px solid #d3d3d3
}
